<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679318458188-6d3rokmn4mqtenvbdo8mq2rdph7btiea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679318458188-6d3rokmn4mqtenvbdo8mq2rdph7btiea</string>
	<key>API_KEY</key>
	<string>AIzaSyB0wl3ZCARb4sh2YuOQoNHVeDvXFN4OD44</string>
	<key>GCM_SENDER_ID</key>
	<string>679318458188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bio.gelly.gelly</string>
	<key>PROJECT_ID</key>
	<string>gelly-9b10d</string>
	<key>STORAGE_BUCKET</key>
	<string>gelly-9b10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679318458188:ios:050cef8b79c42637e289e9</string>
</dict>
</plist>